$font-family: "Product Sans", "SF Pro", "Helvetica", "Arial", sans-serif;
$max-width: 800px;
* {
  transition: all ease 0.3s;
}
body {
  padding: 0;
  margin: 0;
  .header {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    font-family: $font-family;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    .logo {
      height: 40px;
      pointer-events: none;
    }
    h1 {
      font-size: 18px;
    }
  }

  .form-container {
    font-family: $font-family;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: $max-width;
    width: 90%;
    p {
      font-weight: bold;
      text-align: left;
      width: 100%;
    }
    form {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
      width: 100%;
    }
    input {
      background: #f3f3f3;
      border: 2px solid #f3f3f3;
      border-radius: 10px;
      box-sizing: border-box;
      font-family: $font-family;
      font-size: 16px;
      display: grid;
      padding: 15px 20px;
      margin-bottom: 20px;
      outline: none;
      width: 100%;
      &:focus {
        border-color: rgb(255, 217, 0);
        background: #fffae6;
      }
    }

    .color-options {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      padding-top: 10px;
      span {
        border-radius: 50%;
        cursor: pointer;
        display: inline-block;
        margin-right: 10px;
        height: 30px;
        width: 30px;
        &:hover {
          filter: brightness(0.7);
        }
        &:active {
          transform: scale(0.6);
          transition: all ease 0.1s;
        }
      }
      .selected-color {
        transform: scale(1.1);
      }
    }
  }

  .guide {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;
    font-size: 14px;
    line-height: 150%;
    margin: auto;
    max-width: $max-width;
    width: 90%;

    p {
      box-sizing: border-box;
      padding-right: 30px;
    }
    button {
      box-sizing: border-box;
      word-wrap: none;
      flex-wrap: nowrap;
      font-family: $font-family;
      font-weight: bold;
      border-radius: 10px;
      padding: 10px 20px;
      min-width: 130px;
      cursor: pointer;
      &:hover {
        border-color: #101921 !important;
        background-color: #101921 !important;
        color: #fff !important;
      }
    }
  }

  .container-signature {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;
    max-width: $max-width;
    width: 90%;
    border: 1px solid #ddd;
  }
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    text-align: center;

    p {
      font-family: $font-family;
      font-size: 12px;
      a {
        text-decoration: none;
      }
    }
  }
}
